<h4>Auctions</h4>
{{link-to 'New Auction' 'organization.aauctions.new'}}
<ul>
    {{#each model.aauctions as |aauction|}}
        {{#if aauction.id}}
            <li>{{link-to aauction.name 'organization.aauction' aauction}}</li>
        {{/if}}
    {{/each}}
</ul>
{{outlet}}
